.modal {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__container-form {
  background-color: white;
  max-width: 496px;
  /* height: 436px; */
  width: 100%;
  border-radius: 20px;
  padding: 20px 28px;
}

.modal__submit-button {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: white;
  background-color: #000000;
  width: 124px;
  height: 36px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__head {
  position: relative;
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* align-items: top;
  justify-content: space-between; */

  /* margin-bottom: 24px; */
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-style: none;
  background-color: white;
}

.modal__title {
  font-size: 16px;
  margin-top: 8px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
}

.modal__weathertype-title {
  margin-top: 24px;
  margin-bottom: 12px;
}

.modal__weathertype-radio {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
