.profile {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 47px;
}

/* .profile__sidebar {
  display: flex;
  justify-content: space-between;
} */

.profile__items {
}

.profile__add-clothes {
  padding-left: 116px;
  display: flex;
}

.profile__text {
  display: flex;
  text-align: center;
}

.profile__add-new {
  border-style: none;
  background-color: white;
  display: flex;
  align-items: center;
}

.profile__clothes-section {
  display: flex;
  flex-wrap: wrap;
  padding-left: 116px;
  width: 1015px;
  /* gap: 21px; */
}
