.card__image {
  position: relative;
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card__name {
  left: 135px;
  right: 135px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgb(132, 133, 150);
  text-align: center;
  width: 40%;
  height: 24px;
  margin: 0 auto;
  border-radius: 4px;
}
