.main {
  padding: 0 40px;
}

.card__section {
  margin-top: 40px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.card__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 34px;
  gap: 17px;
}
