.profile__section {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;

  display: flex;
  align-items: center;
  width: 229px;
  height: 56px;
  gap: 16px;
}

.header__name {
  text-decoration: none;
  color: black;
}
